<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отправить комментарий</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/">Главная</a>
            <a href="/view">Все комментарии</a>
            <a href="/stat">Таблица регионов</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form id="saveCommentForm" class="form-horizontal" action="" method="POST">
                <div class="form-group">
                    <label for="inputSurname" class="col-xs-2 control-label">Фамилия (*):</label>
                    <div class="col-xs-10">
                        <input name="surname" type="text" class="form-control" id="inputSurname" placeholder="Иванов"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-xs-2 control-label">Имя (*):</label>
                    <div class="col-xs-10">
                        <input name="name" type="text" class="form-control" id="inputName" placeholder="Иван" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPatronymicName" class="col-xs-2 control-label">Отчество:</label>
                    <div class="col-xs-10">
                        <input name="patronymic_name" type="text" class="form-control" id="inputPatronymicName"
                               placeholder="Иванович">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRegion" class="col-xs-2 control-label">Регион:</label>
                    <div class="col-xs-10">
                        <select name="region" class="form-control" id="inputRegion" required>
                            <option selected disabled value=''>Выбрать</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-xs-2 control-label">Город:</label>
                    <div class="col-xs-10">
                        <select name="city" class="form-control" id="inputCity" disabled required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-xs-2 control-label">Телефон:</label>
                    <div class="col-xs-10">
                        <input name="phone" type="tel" class="form-control" id="inputPhone" placeholder="+71234567890">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-xs-2 control-label">Email:</label>
                    <div class="col-xs-10">
                        <input name="email" type="email" class="form-control" id="inputEmail"
                               placeholder="ivanov.ivan@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputComment" class="col-xs-2 control-label">Комментариий (*):</label>
                    <div class="col-xs-10">
                        <textarea name="comment" class="form-control" id="inputComment"
                                  placeholder="Введите комментариий:" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-default">Отправить</button>
                        <div id="saveCommentResult">
                            <p>Комментарий сохранён</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    $('#saveCommentForm').on("submit", saveComment);
</script>
<script>
    // $('#inputCity').attr("disabled");

    var data = '$data';
    var regions_and_cities = $.parseJSON(data);

    $.each(regions_and_cities, function (k, v) {
        $('#inputRegion').append($("<option></option>").attr("value", k).text(k));
    });

    $('select[name="region"]').on('change', function () {
        console.log(regions_and_cities[$(this).val()]);
        var cities_arr = regions_and_cities[$(this).val()];

        $('#inputCity').find('option').remove();
        $('#inputCity').removeAttr("disabled");

        $.each(cities_arr, function (i, v) {
            $('#inputCity').append($("<option></option>").attr("value", v).text(v));
        });
    });
</script>
</body>
</html>